* {
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
}
html {
  font-size: 16px;
  --main-blue: #002bff;
}
body {
  background: #fff;
}

img {
  width: 100%;
  object-fit: cover;
}

p {
  font-family: p22-underground, sans-serif;
  margin-bottom: 1rem;
}

li {
  font-family: p22-underground, sans-serif;
  font-weight: 400;
  /* margin-bottom: 1rem; */
  line-height: 22px;
}
ul {
  list-style-type: none;
}

li::marker {
  color: var(--main-blue);
  /* font-size: 1.1rem; */
}

#menuknap {
  display: inline-block;
  place-self: start end;
  z-index: 1;
  font-size: 1.5rem;
}

#menu {
  list-style: none;
  transition: transform 0.3s;
  transform-origin: top left;
  margin-left: -20%;
  z-index: 1;
  font-size: 1.1rem;
  /* max-height: 100px; */
}

.hidden {
  opacity: 0;
  max-height: 0;
}

a {
  font-family: owners, sans-serif;
  letter-spacing: 1px;
  color: #000;
  text-transform: uppercase;
}

nav {
  display: grid;
}
nav ul {
  list-style: none;
}

nav li {
}

header {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  background: #fff;
}

#logo {
  height: 100%;
  border-bottom: #000 solid 1px;
}

.logo_container {
  height: 30px;
  display: inline-block;
  align-self: start;
}
.blue_box {
  background: var(--main-blue);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blue_box.forside {
  /* height: 560px; */
  height: 65vh;
  /* width: 97vw; */
  /* margin: 0 5px; */
  overflow: hidden;
}

.blue_box.about {
  /* height: 140px; */
}

.forside h2:nth-child(1) {
  align-self: flex-start;
  margin: -3% 0 0 -1%;
}

.forside h2:nth-child(2) {
  align-self: flex-end;
  margin: 0 -1% -4% 0;
}
.code {
  display: none;
}
.forside h2 {
  color: #fff;
  font-family: owners-wide, sans-serif;
  font-weight: 800;
  font-size: 10vw;
  text-transform: uppercase;
}
h1 {
  color: var(--main-blue);
  font-family: owners-wide, sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 21vw;
  white-space: nowrap;
  margin: 0 0 -8vw 0;
  text-align: center;
}
h2 {
  font-size: 2rem;
  font-family: anonymous-pro, monospace;
  font-weight: 700;
  margin-bottom: 1rem;
}
h3 {
  font-family: anonymous-pro, monospace;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

img.portrait {
  aspect-ratio: 4/3;
}

section {
  margin: 0 10px;
}

main.about section {
  background: var(--main-blue);
  padding: 1px 20px;
}

.element {
  margin: 15px 0;
  background: #fff;
  padding: 15px;
}

.about img {
  object-position: 0 45%;
}

.element.three li {
  margin-bottom: 0.9rem;
}

@media (min-width: 705px) {
  h1 {
    font-size: 8vw;
    text-transform: uppercase;
    margin-bottom: -3vw;
    margin-top: 0;
    text-align: left;
    text-decoration: underline white 1px;
    /* color: black; */
  }
  h2 {
    font-size: 2rem;
    word-wrap: break-word;
  }

  main.about section.white_bg {
    background: #fff;
  }

  main.about .section_wrapper {
    background: none;
  }

  /* nav start */
  #menuknap {
    display: none;
  }
  #menu.hidden {
    transform: translateX(0);
    opacity: 1;
  }
  #menu {
    max-height: none;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
  }

  nav {
    display: flex;
    gap: 1rem;
    border-bottom: #000 solid 1px;
    width: 25rem;
    justify-content: end;
    margin-right: 10px;
  }

  nav li {
    margin: 0;
  }
  nav ul {
    display: flex;
    gap: 1rem;
  }
  /* nav slut */
  .element {
    background: none;
  }
  section {
    display: grid;
    grid-template-columns: 1fr minmax(0, 1200px) 1fr;
    margin: 0 0 3rem 0;
  }
  .section_wrapper {
    grid-column: 2/3;
  }

  main.forside {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 4fr 4fr 4fr;
    /* margin: -30px 0 0 0; */
  }

  .code {
    grid-row: 2/4;
    grid-column: 2/3;
    z-index: 1;
    mix-blend-mode: difference;
    color: #fff;
    display: block;
    font-size: 14px;
  }

  .code p {
    font-family: anonymous-pro, monospace;
    line-height: 17px;
    margin: 0;
  }

  .blue_box.forside {
    grid-row: 3/6;
    grid-column: 1/4;
  }
  main {
    margin: 0 10px;
  }
  .blue_bg {
    background: var(--main-blue);
  }
  .section_wrapper {
    display: flex;
    margin: 5% 0;
    gap: 1rem;
    justify-content: space-around;
    /* place-items: center; */
  }
  .section_wrapper.about_me {
    place-items: center;
  }

  main.about .element.one {
    width: 320px;
    position: relative;
    aspect-ratio: 30/36;
  }

  .about .element.one::after {
    content: " ";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 85%;
    left: 81%;
    box-shadow: white 15px 1px 0 0;
  }
  .about .element.one::before {
    content: " ";
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0%;
    left: 0%;
    box-shadow: white -15px -1px 0 0;
  }

  .element.one img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 30/40;
    pointer-events: none;
    /* border: white 1px solid; */
  }

  .about .element.two {
    background: #fff;
    width: 420px;
    padding: 20px;
    position: relative;
    z-index: 1;
  }
  .about .element.two::before {
    content: " ";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5%;
    right: 0;
    box-shadow: white 0 1px 0 0;
    z-index: -1;
  }

  .about .element.four {
    background: #fff;
    border-bottom: #000 1px solid;
    max-width: 60ch;
  }
  .about .element.three {
    /* height: 80%; */
    max-width: 60ch;
    background: #fff;
    border-bottom: #000 1px solid;
  }
  .about section.white_bg {
    /* background: var(--main-blue); */
  }
}
